body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #00a6ff65;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  width: 70%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #6c63ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #5548e8;
}

#weather-output {
  margin-top: 20px;
  font-size: 16px;
}

#weather-icon {
  width: 100px;
  margin-top: 10px;
}